{%  extends 'layout.twig' %}

{% block titre %}
    <div class="page-header"><h2>Erreur</h2></div>
{% endblock %}

{% block contenu %}
    <div class="error">
        {{ error|raw }}
    </div>
{% endblock %}