{%  extends 'page.twig' %}

{% block titre %}
    Accueil
{% endblock %}

{% block contenu %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <a href="index.php"><img src="assets/media/images/logo.png" alt="logo"></a>
        <h1>ELIKIA</h1>
        <p>Interface de gestion du personnel de l'armée congolaise.</p>
    </div>
    <p>Bienvenue sur ce mini journal.</p>
{% endblock %}