{%  extends 'layout.twig' %}

{% block titre %}
{% endblock %}

{% block contenu %}
    <div class="jumbotron">
        <a href="index.php"><img src="assets/media/images/logo.png" alt="logo"></a>
        <h1>ELIKIA</h1>
        <p>Interface de gestion du personnel de l'armée congolaise.</p>
    </div>
{% endblock %}