<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="">
    <title>Elikia</title>
    <!-- Bootstrap - Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.min.css">
    <!-- Bootstrap - Optional theme -->
    <link rel="stylesheet" href="assets/css/bootstrap/bootstrap-theme.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap - Compiled and minified JavaScript -->
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>
    <![endif]-->
    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/8a7d364ade.js"></script>

    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php">ELIKIA</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.php">Accueil</a>
                </li>
                {% if global.session.status == 'admin' or global.session.status == 'secretary' %}
                    <li>
                        <a href="index.php?object=soldier&amp;action=displayList">Soldats</a>
                    </li>
                {% endif %}
                {% if global.session.status == 'admin' %}
                    <li>
                        <a href="index.php?object=secretary&amp;action=displayList">Secrétaires</a>
                    </li>
                {% endif %}
                {% if is_connected() %}
                    <li>
                        <a href="index.php?action=displayMyInformation">Mes informations</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if not is_connected() %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-default navbar-btn"
                                aria-label="Left Align" data-toggle="modal"
                                data-target="#sign-in-modal">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Se connecter
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-default navbar-btn"
                                aria-label="Left Align" data-toggle="modal"
                                data-target="#sign-in-modal">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {{ global.session.login }}
                        </button>
                    {% endif %}
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{{ include('frag/connectionForm.twig') }}

<div class="container theme-showcase" role="main">

    {% block titre %}{% endblock %}
    {% block contenu %}{% endblock %}

</div>
{% block javascript %}{% endblock %}
</body>
</html>